{% extends "_base.html" %}

{% block title %}Error 403{% endblock %}

{% block content %}
    <!-- <div class="mt-4 p-5 bg-success text-white rounded"> -->
      <div class="mt-4 p-5 bg-secondary text-white rounded">
      <h1 class="main_headers" style="text-align:center;"> Error 403: </h1>
      <p class="test1" style="text-align:center;"> Access forbidden to resource.
      <br>
        Click <a href="https://kelsoncraft.net">Here</a> to get back to the main page.</p>
    </div>
{% endblock %}