<!-- Todo Make this look better on mobile. -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">KelsonCraft</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <!-- Todo Setup about page on flask from nodejs. -->
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/test">Test</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/password_gen">Password Generator</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/db_test">DB Test</a>
      </li> -->
      <!--
        <li class="nav-item">
            <a class="nav-link" href="https://node.internal.kelsoncraft.net/">Node JS</a>
        </li>
        -->
    </ul>
</nav>