{% extends "_base.html" %}

{% block title %}About MC{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-10 mx-auto">
    <div class="mt-4 p-5 bg-secondary text-white rounded">
      <h1 class="main_headers"> KelsonCraft Forge Mod Pack </h1>
      <p>
        Hello, this page will have info about the Forge mod pack.
        <br>
        I will update the wiki for the minecraft server to include what all mods I have in the forge pack later.
      </p>

      <h1 class="main_headers"> Some mods in the pack </h1>

      <p>
        <br>
        I have Mekanism, Thermal Expansion, Enderio and a ton of other cool mods.
        <br>
        The links to the mods and the mod list will be in the wiki once I get it setup.
        <!-- Todo Setup mod list on the wiki -->
        <!-- <a href=""> Mod list </a>. -->

        <br>
      </p>

      <h1 class="main_headers"> Technical details below </h1>
      <p> The forge modpack that I have uses Computer Craft and I have been learning how to interface with the computers
        in the pack. </p>
      <p>
        I use <a href="https://www.curseforge.com/minecraft/mc-mods/kubejs">KubeJS</a> for stuff like making new
        recipes,
        and quite a bit of scripting features for the serve. <br>
        So I can customize the KelsonCraft server to my liking and
        try to add what is requested.
      </p>

      <h1 class="main_headers"> About server </h1>
      <p>
        I changed my mind about the servers.
        I will not be hosting a MineCraft server in the near future.
        <br>
        I probably won't even host a FiveM one, not sure on that yet.
      </p>

      <br>
    </div>
  </div>

  <!--      <div class="col-sm-4">-->
  <!--        <div class="well">-->

  <!--          &lt;!&ndash; Side bar &ndash;&gt;-->
  <!--          <p class="fs-6"> -->
  <!--           <br>-->

  <!--          </p>-->
  <!--        </div>-->
  <!--      </div>-->
</div>
{% endblock %}