{% extends "_base.html" %}

{% block title %}About FiveM{% endblock %}

{% block content %}
<div class="row">
  <!-- Added spacing for this column from here: https://stackoverflow.com/questions/42528411/center-the-content-inside-a-column-in-bootstrap -->
  <div class="col-sm-10 mx-auto">

    <!-- Main header and info -->
    <div class="mt-4 p-5 bg-secondary text-white rounded">
      <h1 class="main_headers">KelsonCraft FiveM Info</h1>
      <p class="fs-6">Hello, this page will have info about the possible future FiveM server.
        <br>
        And the resources/mods that I work on for FiveM.
      </p>


      <p class="fs-6">
        I have been working with Scaleform UI and lua to make a couple of basic menus. And I have some
        custom lua scripts.<br>
      </p>
      <p class="fs-6">
        Custom/modified resources:
        <br>
        This list is incomplete, I will add more of my projects to it later.

      </p>

      <br>
      <!-- Other forks and projects that I work on -->
      <h3 class="main_headers">Forks and other open source resources </h3>
      <div class="margin_spacing">


        <ul class="spaced_margins">
          <li>
            Street races gui from <a href="https://github.com/bepo13/">bepo13</a>, press F5 to open
            <br>
            This uses the street races resource from the above author (I only created the GUI for it.):
            <br>
            <a href="https://github.com/kelson8/FiveM-StreetRaces"
              target="_blank">https://github.com/kelson8/FiveM-StreetRaces</a>
          </li>

          <li>
            bMenu from <a href="https://github.com/BerkieBb">BerkieBb</a>
            - A lua version of bMenu, I have been learning how to use ox_lib with this project.
            <br>
            <a href="https://github.com/kelson8/bMenu">https://github.com/kelson8/bMenu</a>

          </li>

          <li>
            Venomous Freemode from <a href="https://github.com/FiveM-Scripts">FiveM-Scripts</a>
            <br>
            <a href="https://github.com/kelson8/venomous-freemode">https://github.com/kelson8/venomous-freemode</a>
          </li>

          <li>
            dxn-tpmenu from <a href="https://github.com/devoplx">devoplx</a>
            <br>

            <a href="https://github.com/kelson8/dxn-tpmenu">https://github.com/kelson8/dxn-tpmenu</a>
          </li>

          <li>
            rgz_playedtime from <a href="https://github.com/Adam-rGz">Adam-rGz</a>
            <br>
            <a href="https://github.com/kelson8/rgz_playedtime">https://github.com/kelson8/rgz_playedtime</a>
          </li>

          <li>
            Custom loading screen for my server, from <a href="https://github.com/raitnigol">raitnigol</a>
            <br>
            <a href="https://github.com/kelson8/fivem_loadingscreen">https://github.com/kelson8/fivem_loadingscreen</a>
          </li>

          <li>
            TrainSportation from <a href="https://github.com/LexTheGreat">LexTheGreat</a>
            <br>
            <a href="https://github.com/kelson8/TrainSportation">https://github.com/kelson8/TrainSportation</a>
          </li>
        </ul>

      </div>

      <br>
      <!-- Custom resources -->
      <h3 class="main_headers">My custom resources</h3>
      <ul>
        <li>
          My Menu written in Lua, which uses ox_lib
          <br>
          <a href="https://github.com/kelson8/kc_menu">https://github.com/kelson8/kc_menu</a>
        </li>

        <li>
          My main fivem resources
          <br>
          <a href="https://github.com/kelson8/fivem-scripts">https://github.com/kelson8/fivem-scripts</a>
        </li>

      </ul>

    </div>
  </div>
</div>
{% endblock %}