<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}KelsonCraft Website{% endblock %}</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

  <link rel="stylesheet" href="https://cdn.plyr.io/3.8.3/plyr.css">

  {% include "partials/head.html" %}

    <!-- For dark mode to not flicker -->
    <script>
        (function() {
        const darkSwitch = localStorage.getItem("darkSwitch");
        document.documentElement.setAttribute("data-bs-theme", darkSwitch === "dark" ? "dark" : "light");
        })();
    </script>

</head>

<body class="container">
  <header>
    <!-- https://stackoverflow.com/questions/24847753/flask-jinja2-how-to-separate-header-base-and-footer -->
    {% include "partials/header.html" %}
  </header>

  <main>
    {% block content %}
    {% endblock %}

      <br>
<!--    <button id="darkmodeBtn"> Toggle dark mode <span class="change"> </span></button>-->
    <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" id="darkSwitch" />
        <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
    </div>

  </main>

  <footer>

    {% include "partials/footer.html" %}
  </footer>

<!--  <script src="{{url_for('static', filename='js/darkmode.js')}}"></script>-->
  <script src="{{url_for('static', filename='js/dark-mode-switch.min.js')}}"></script>


  <!-- Include Plyr JavaScript and plyr_controls -->

  <script src="https://cdn.plyr.io/3.8.3/plyr.js"></script>
  <script src="{{url_for('static', filename='js/plyr_controls.js')}}"></script>

</body>

</html>