<!DOCTYPE html>
<html lang="en">

<head>
  <title> About FiveM </title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
  {% include "partials/head.html" %}
</head>

<body class="container">

  <header>
    {% include "partials/header.html" %}
  </header>

  <main>
    <div class="row">
      <div class="col-sm-8">

        <!-- Main header and info -->
        <div class="mt-4 p-5 bg-secondary text-white rounded">
          <h1 id="main_headers">KelsonCraft FiveM server</h1>
          <p class="fs-6">Hello, this page will have info about the FiveM server.</p>
          <p class="fs-6">
            I have been working with Scaleform UI and lua to make a couple of basic menus. And I have some
            custom lua scripts. They are not on a public git repo yet. I still need to 
            sort everything out, and make sure I don't have anything in the repo
            history that I don't want public.<br>
          </p>
          <p class="fs-6">
            Custom content:
            <br> This list is incomplete, I will update it in the future, for now I'm going to try to get the 
            Forge Minecraft server in a ready state.
            <li> Street races gui - Press F5 to open </li>
            This uses the street races resource from this github page (I only created the GUI for it.):
            <a href="https://github.com/bepo13/FiveM-StreetRaces" target="_blank">https://github.com/bepo13/FiveM-StreetRaces</a>

          </p>
          </div>
      </div>

      <!-- Side bar -->
      <div class="col-sm-4">
        <div class="well">

          <p class="fs-6">
            <br> If I do decide to host a fivem server, it would be on <ins>play.kelsoncraft.net</ins>
            (Default port 30110) or on my local network, I don't think I can run the MC server and FiveM on the same host.
            The MC server uses most of the resources on the host.
            <br><br> I have been working on creating some free roam scripts and adding onto others. Mostly
            just something to fool around with, such as car spawning, ped spawning and more.
            <br><br> Anyone is welcome to join, although with my 50mbps upload I will be limiting players to
            about 10-15.
            <!-- Change to github if i decide to make a FiveM server and publish these pages. -->
            <br><br> Custom lua scripts: Coming soon! I need to set up the repo for this on GitHub or on the git server I will host.
            <!-- <a href="https://git.kelsoncraft.net/kelson8/fivem-scripts"
            <a href="https://github.com/kelson8/fivem-scripts"
              target="_blank">Here</a> -->
          </p>
        </div>
      </div>
    </div>
  </main>

  <button id="darkmodeBtn"> Toggle dark mode <span class="change"> </span></button>

  <footer>
    {% include "partials/footer.html" %}
  </footer>

  <script src="{{url_for('static', filename='client.js')}}"></script>
  <script src="{{url_for('static', filename='darkmode.js')}}"></script>
  <script src="{{url_for('static', filename='passwordgen.js')}}"> </script>

</body>

</html>