<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title> KelsonCraft Website </title>
  {% include "partials/head.html" %}
</head>

<body class="container">
  <header>
    <!-- https://stackoverflow.com/questions/24847753/flask-jinja2-how-to-separate-header-base-and-footer -->
    {% include "partials/header.html" %}
  </header>

  <main>
    <!-- <div class="mt-4 p-5 bg-success text-white rounded"> -->
      <div class="mt-4 p-5 bg-secondary text-white rounded">
      <h1 class="main_headers" style="text-align:center;"> Error: </h1>
      <p class="test1" style="text-align:center;"> You need to specify a file to download!
      <br>
        if you made it here by mistake, click <a href="https://kelsoncraft.net">Here</a> to get back to the main page.</p>
    </div>
  </main>

  <button id="darkmodeBtn"> Toggle dark mode <span class="change"> </span></button>

  <footer>
    {% include "partials/footer.html" %}
  </footer>

  <script src="{{url_for('static', filename='client.js')}}"></script>
  <script src="{{url_for('static', filename='darkmode.js')}}"></script>

</body>

</html>