{% extends "_base.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}
<div class="mt-4 p-5 bg-secondary text-white rounded">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h1 class="main_headers">Login</h1>
    <p>This login page will mostly just be for the videos on this site.<br>
        I may also have other stuff for this, sign-ups are disabled.</p>
    <hr>

    <form method="POST">
        <!-- CSRF Token -->
        {{ form.hidden_tag() }}

        <!-- Updated to use Flask WTF for forms. -->
        <div>
            {{ form.username.label }}<br>
            {{ form.username(placeholder='Username') }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ form.password.label }}<br>
            {{ form.password(placeholder='Password') }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <button type="submit">{{ form.submit() }}</button>
    </form>
</div>

{% endblock %}
