{% extends "_base.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}
<div class="mt-4 p-5 bg-secondary text-white rounded">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h1 class="main_headers">Login</h1>
    <p> This login page will mostly just be for the videos on this site. <br>
        I may also have other stuff for this, sign-ups are disabled. </p>
    <hr>



    <form method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

</div>

{% endblock %}