{% extends "_base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="mt-4 p-5 bg-secondary text-white rounded">
  <h1 class="main_headers"> Projects </h1>
  <p> Here are some projects that I am working on, for now I only have ReVC listed.</p>

  <ul>
    <li>Additions to ReVC: <a href="/projects/revc">/projects/revc</a></li>
  </ul>

  <p> Check out more on my GitHub <a href="https://github.com/kelson8?tab=repositories"
      target="_blank">https://github.com/kelson8?tab=repositories</a></p>
</div>
{% endblock %}