{% extends "_base.html" %}

{% block title %}Test Page{% endblock %}

{% block content %}
<div class="mt-4 p-5 bg-secondary text-white rounded">
  <h1 class="main_headers">Testing random stuff</h1>
  <p>Welcome to the test page.</p>
  <input type="text" value="Readonly Input" class="field left" readonly>

  <button onclick="getIP()">Get public IP Address</button>
  <input type="checkbox" name="Show/Hide" id="show_or_hide_ip_checkbox" onclick="showHideIp()">
  <span id=ip_status>Shown</span>
  <p id="ip"></p>

  <button onclick="setUserAgent()">Get User Agent string</button>
  <input type="checkbox" name="Show/Hide" id="show_or_hide_useragent_checkbox" onclick="showHideUserAgent()"> 
  <span id=user_agent_status>Shown</span>
  <p id="user-agent"></p>

  <hr>

  <p>Email encode/decode test, this takes an Email input and outputs an encoded version for bots to be less likely to obtain it.</p>
  <label>
    <input id="decoded_email" type="email" value="Email" class="field right">
  </label>
  <button type="submit" onclick="getDecodedEmail()">Submit</button>
  <input type="checkbox" name="Show/Hide" id="show_or_hide_email_checkbox" onclick="showHideEmailCheckbox()">
  <span id=email_status>Shown</span>
  
  <p id="encoded_email_output"></p>
  <p id="decoded_email_output"></p>
</div>
{% endblock %}
