<!DOCTYPE html>
<html>

<head>
  <title> KelsonCraft Website </title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

  {% include "partials/head.html" %}

</head>

<body class="container">
  <header>
    <!-- https://stackoverflow.com/questions/24847753/flask-jinja2-how-to-separate-header-base-and-footer -->
    {% include "partials/header.html" %}
  </header>

  <main>
    <div class="mt-4 p-5 bg-secondary text-white rounded">
      <h1 class="main_headers"> Testing random stuff </h1>
      <!-- <p> Welcome to the KelsonCraft Flask website. </p>
            <p> I will be hosting some projects here, possibly a WordPress and other random stuff that I may work on. </p>
            </p> -->
      <p> Welcome to the test page. </p>
      <!-- https://stackoverflow.com/questions/3676127/how-do-i-make-a-text-input-non-editable -->
      <input type="text" value="Readonly Input" class="field left" readonly>

      <h3 class="main_headers">Your public IP address is:</h3>
      <p id="ip-address"></p>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch("https://api.ipify.org/?format=json")
                .then(response => response.json())
                .then(data => {
                    document.getElementById("ip-address").textContent = data.ip;
                })
                .catch(error => {
                    console.error("Error fetching IP address:", error);
                });
        });
    </script>

    </div>

  </main>

  <button id="darkmodeBtn"> Toggle dark mode <span class="change"> </span></button>

  <footer>
    {% include "partials/footer.html" %}
  </footer>

  <script src="{{url_for('static', filename='client.js')}}"></script>
  <script src="{{url_for('static', filename='darkmode.js')}}"></script>
  <!-- <script src="{{url_for('static', filename='passwordgen.js')}}"> </script> -->

</body>

</html>
