{% extends "_video_base.html" %}

{% block title %}{{ video_title }}{% endblock %}

{% block content %}
<div class="mt-4 p-5 bg-secondary text-white rounded">
  <h1 class="main_headers">{{ video_title }}</h1>
  <p>{{ video_description }}</p>

  <div id="player-container">
    <video id="player" controls>
      {% if video_is_restricted %}
        <source src="{{ url_for('video_pages.serve_video', filename=video_file) }}" type="video/mp4">
      {% else %}
        <source src="{{ url_for('static', filename='videos/' ~ video_file) }}" type="video/mp4">
      {% endif %}
    </video>
  </div>
</div>
{% endblock %}