{% extends "_base.html" %}

{% block title %}Video1{% endblock %}

{% block content %}
<div class="mt-4 p-5 bg-secondary text-white rounded">
  <h1 class="main_headers"> Videos </h1>
  <p> Tom Clancy's Ghost Recon Wildlands Chopper glitch </p>
  <p> I'm not sure how I would do this again, it just randomly happened one day. </p>
  <!-- TODO Make this mobile optimizied. -->
  <video controls width="640" height="480"
    src="{{ url_for('static', filename='/videos/tom_clancy_wildlands_glitch1.mp4') }}">

  </video>
</div>
</main>

{% endblock %}