{% extends "_base.html" %}

{% block title %}Videos{% endblock %}

{% block content %}

    <div class="mt-4 p-5 bg-secondary text-white rounded">
      <h1 class="main_headers"> Videos </h1>
      <p> Welcome to the video page, I will disable this if I get close to my 1TB monthly bandwidth cap for my vps. </p>

        <ul>
          <li><a href="/video/cTfVsOx1zGg">Tom Clancy's Ghost Recon Wildlands chopper glitch</a></li>
          <li><a href="/video/ILezMwE0DeB">ReVC Spinning Cars</a></li>
          <li><a href="/video/y6EerAoXDjl">ReVC KCNet ImGui Test</a></li>
          <li><a href="/video/UMrgnbkQaSE">KCNet Auth Test (Restricted)</a></li>
        </ul>
    </div>
{% endblock %}