<!DOCTYPE html>
<html>

<head>
  <title> KelsonCraft Website </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

  {% include "partials/head.html" %}

</head>


<!-- TODO Add bootstrap to page -->

<body class="container">
  <header>
    <!-- https://stackoverflow.com/questions/24847753/flask-jinja2-how-to-separate-header-base-and-footer -->
    {% include "partials/header.html" %}
<!--    </nav>-->
  </header>

  <main>
    <div class="mt-4 p-5 bg-secondary text-white rounded">
      <h1 id="main_header1"> Videos </h1>
      <p> Welcome to the video page, I will disable this if I get close to my 1TB monthly bandwidth cap for my vps. </p>
        <a href="/video1">Tom Clancy's Ghost Recon Wildlands chopper glitch</a>


    </div>
  </main>

  <button id="darkmodeBtn"> Toggle dark mode <span class="change"> </span></button>

  <footer>
    {% include "partials/footer.html" %}
  </footer>

  <script src="{{url_for('static', filename='client.js')}}"></script>
  <script src="{{url_for('static', filename='darkmode.js')}}"></script>
  <!-- <script src="{{url_for('static', filename='passwordgen.js')}}"> </script> -->

</body>

</html>