{% extends "_base.html" %}

{% block title %}Video2{% endblock %}

{% block content %}
<div class="mt-4 p-5 bg-secondary text-white rounded">
  <h1 class="main_headers"> Videos </h1>
  <p> ReVC Spinning Cars </p>
  <p> I coded this function using C++ to mess around with, the game crashes at the end. </p>
  <!-- TODO Make this mobile optimizied. -->
  <video controls width="640" height="480" src="{{ url_for('static', filename='/videos/ReVC-SpinningCars.mp4') }}">

  </video>


</div>
{% endblock %}