<!DOCTYPE html>
<html lang="en">

<head>
  {% include "partials/head.html" %}
</head>

<body class="container">

  <header>
    {% include "partials/header.html" %}
  </header>

  <main>
    <div class="row">
      <div class="col-sm-8">
        <div class="mt-4 p-5 bg-primary text-white rounded">
          <h1>Welcome to the about page</h1>
          <p>I will be hosting this site mostly in Python Flask. There is a couple of items on the sidebar for info pages.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="well">

          <h3>Minecraft server info: </h3> <a href="/about-mc">Here</a>
          <h3>Fivem Server Info: </h3> <a href="/about-fivem">Here</a>
          <h3>Github repo for the website code:</h3> <a href="https://github.com/kelson8/FlaskWeb"
            target="_blank">Here</a>
<!--          <h3>Git repo for the website code:</h3> <a href="https://git.kelsoncraft.net/kelson8/FlaskWeb"-->
<!--            target="_blank">Here</a>-->
          <h3>Github Profile link:</h3> <a href="https://github.com/kelson8" target="_blank">Here</a>
        </div>
      </div>


      <!-- Try to get this box below centered with the other one, I'm not sure how to do that. -->
      <!-- <div class="p-5 mb-4 bg-success rounded-3"> -->
      <div class="row">

        <div class="mt-4 p-5 bg-secondary text-white rounded-3">
          <h1>About this site: </h1>
          <hr>
                <p>
                  I will probably get a wordpress or something up and running on this webite in the future.
                  Possibly a forum running on https://forum.kelsoncraft.net.
<!--                  Possibly a forum running on <a href="https://forum.kelsoncraft.net">https://forum.kelsoncraft.net (Not valid yet)</a>.-->
		  <br>
<!--                  <br>-->
<!--                  I have gitea running on this website <a href="https://git.kelsoncraft.net/" target="_blank"> Here </a>-->
                  <br>
                  I might start hosting a minecraft server and a fivem server on my network, I eventually want to get
                  the FiveM server up and running with some of the scripts that I have created and put together.
                  <br><br>
            I will have a git repo for the fivem scripts and other stuff that I work on up and running possibly in the next couple of weeks or so.
            <br>
                </p>

          <p class="col-md-8 fs-6">
            Anyone is welcome to take a look at the source code and it's
            licensed with GPLV3 so do whatever you want with the code. Please give credit if you use any of it, thanks!
          </p>
        </div>


        <div class="mt-4 p-5 bg-secondary text-white rounded-3">
          <h1>About me</h1>
          <hr>

          <p class="col-md-8 fs-6">Here's a little bit about myself, my name is Kelson and my username is usually
            kelson8.
            I've always been passionate about tech especially computer hardware, Minecraft coding for spigot is what
            originally got me into programming.
            <br>
            <br> I have a small spigot plugin that I occasionally add features to, currently one of the noteable
            features is the localchat. The link to the spigot plugin is here <a href="https://github.com/kelson8/KBP">https://github.com/kelson8/KBP</a>

            <br> I recently really started getting into playing around with javascript. and I've enjoyed that.
            <br>
            <br>I've been learning a lot with nodejs and javascript in the browser, I'm not great at it though.
          </p>
        </div>
      </div>
    </div>
  </main>

  <button id="darkmodeBtn"> Toggle dark mode <span class="change"> </span></button>

  <footer>
    {% include "partials/footer.html" %}
  </footer>

  <script src="{{url_for('static', filename='client.js')}}"></script>
  <script src="{{url_for('static', filename='darkmode.js')}}"></script>
  <script src="{{url_for('static', filename='passwordgen.js')}}"> </script>

</body>

</html>
