<!DOCTYPE html>
<html lang="en">

<head>
  {% include "partials/head.html" %}
</head>

<body class="container">

  <header>
    {% include "partials/header.html" %}
  </header>

  <main>
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <h1>KelsonCraft Minecraft server</h1>
          <p class="col-md-8 fs-4"> Hello, this page will have info about the mc server on the sidebar.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="well">

          <!-- <h3>Look I'm A Sidebar!</h3> -->
          <p class="fs-6">
            <br> The minecraft server is going to be hosted at <ins>local.kelsoncraft.net</ins> with the
            default port (25565),
            it will be a hub server so there will be multiple destinations you can go to, such as Creative
            (Plot world), and Survival (Normal world).
            <br><br>

            I will <ins>never</ins> add any kind of Pay to win aspects, anything in this server can be
            obtained just by playing on it!
            You are welcome to donate once I get that setup but it's entirely optional, it would help with
            buying a host in the future.

            <br><br>
            I will possibly be hosting a fabric server on <ins>local.kelsoncraft.net:25564</ins> which will
            contain the KelsonCraft 1.20 Fabric pack.
          </p>
        </div>
      </div>
    </div>
  </main>

  <button id="darkmodeBtn"> Toggle dark mode <span class="change"> </span></button>

  <footer>
    {% include "partials/footer.html" %}
  </footer>

  <script src="{{url_for('static', filename='client.js')}}"></script>
  <script src="{{url_for('static', filename='darkmode.js')}}"></script>
  <script src="{{url_for('static', filename='passwordgen.js')}}"> </script>

</body>

</html>