{% extends "_base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="mt-4 p-5 bg-secondary text-white rounded">
  <h1 class="main_headers"> Projects </h1>
  <p> Here are some projects that I am working on.</p>

  <ul>
    <li>Additions to ReVC: <a href="/projects/revc">/projects/revc</a></li>
    <li>Rpi Pico <a href="/projects/rpi-pico">/projects/rpi-pico</a></li>
  </ul>

  <p>
    I may post pictures of my projects in the future when I feel like it, eventually I will also publish the code
    and guides on how I am doing a lot of this stuff.
  </p>

  <p> Check out more on my GitHub <a href="https://github.com/kelson8?tab=repositories"
      target="_blank">https://github.com/kelson8?tab=repositories</a></p>
</div>
{% endblock %}