{% extends "_base.html" %}

{% block title %}ReVC Additions{% endblock %}

{% block content %}
<div class="mt-4 p-5 bg-secondary text-white rounded">
    <h1 class="main_headers"> Stuff I have added/modified in ReVC. </h1>
    <!-- <p> Welcome to the KelsonCraft Flask website. </p>
            <p> I will be hosting some projects here, possibly a WordPress and other random stuff that I may work on. </p>
            </p> -->
    <p> I have added quite a bit into ReVC, I started off by learning how the C++ code for ReVC works
        <br> which took a while to begin to understand. One of the things that took a while is
        <br>adding ImGui as a mod menu using the F8 key with tons of features.

        <br>
        <br> The style and font came from the Cheat Menu project
        <a href="https://github.com/user-grinch/Cheat-Menu/tree/master">here</a>
    </p>

    <hr>
    <h3>Lua loading</h3>
    <!--        <br>-->
    <p>
        I have also added a lua loader which took a bit to figure out.
        <br>It can run events I set up for it when the game processes anything.
        <br> It has two files, one that gets loaded on game init/wasted/busted. And one that runs all the time for
        events.
    </p>

    <hr>
    <h3>Code changes/file changes</h3>

    <p>
        <br> There has been a lot of changes and modifications to the code in this, a lot of changes from the Vice
        Extended project
        <br><a href="https://github.com/x87/gta-extended">https://github.com/x87/gta-extended</a> have been added to
        this.
        <br> Messing with this project has taught me a lot of C++

        <br>
    </p>

    <p>

        I have moved quite a few files into the 'ViceExtended' folder in the Vice City directory.
        <br> The userfiles folder has been moved out of the Vice City root and into the new folder.
        <br> Here is a list of files/folders that now load from the new directory:
    </p>
    <ul>
        <li>TEXT/ (Game texts)</li>
        <li>main.scm, main_d.scm, and freeroam_miami.scm (Game scripts in 'ViceExtended/data'</li>
        <li>Some more files in 'ViceExtended/data' folder, I need to write a list of these later.</li>
        <li>Most files from the models folder have been moved into the 'ViceExtended' folder</li>
    </ul>

    <hr>
    <h3> Patches for my custom content</h3>
    <p>
        <br> My patches for this project are located on my GitHub <a
            href="https://github.com/kelson8/KCNet-ReVC-Patches">https://github.com/kelson8/KCNet-ReVC-Patches</a>
        <br> Due to the legality of the ReVC source code, I won't share it directly but as patches.
        <br> I would like to eventually make a tool that downloads the ReVC source code, applies these patches to it and
        builds it.
        <br> That shouldn't be too hard once I figure things out. I'll even set up the project to download some of the
        updated game files.

    </p>
    <p>
        I will need to find a place to upload some new files for this to fully function.
    </p>

    <hr>


    <h3> New content that needs added to the game directory </h3>
    <p>
        The Vice Extended folders below are located in the Vice City game directory like this: "C:\Rockstar Games\GTA
        Vice City\ViceExtended"
    </p>
    <ul>
        <li>New game texts (American.GXT)</li>
        <li>lua scripts (ViceExtended/lua_scripts)</li>
        <li>Some new models from Vice Extended, mostly hud.txd and weaponSights.txd in the 'ViceExtended/models' folder
        </li>
        <li>ini files in the root of the 'ViceExtended' folder</li>
        <li>Some additions to animations to the gta3.img in 'models' in the Vice City folder.</li>
        <li>Cheat menu fonts under 'ViceExtended/fonts'</li>

    </ul>


    <hr>
    <h3> About </h3>
    <p> I will be posting videos/screenshots of the ImGui loading, lua events, and what all I am working on setting up.
        <br> Not sure when I'll get around to adding all that, first I need to document the project a bit better on my
        GitHub patches.

        <br><br> You will need to own a copy of Vice City for this project, this won't work without it.

    </p>

</div>
{% endblock %}