{% extends "_base.html" %}

{% block title %}Rpi Pico{% endblock %}

{% block content %}
<div class="mt-4 p-5 bg-secondary text-white rounded">
  <h1 class="main_headers"> Rpi Pico </h1>
  <p>
    I have a Raspberry Pi Pico running an IR Receiver for a remote, button #1 turns my bedroom lamp on, button #4 turns
    the lamp off.
    <br>
    I am using Home Assistant for the main part of it, and ESPHome on the Raspberry Pi Pico.
  </p>

  <p> I may publish my Home Assistant config and stripped down ESPHome configs in the future. </p>

</div>
{% endblock %}